<% @title = 'Dashboard' %>

<p>Welcome back <%= current_user.email %>

<ul>
<li>What did you wear today?</li>
<li>See Past Outfits</li>
<li><%= link_to 'See Your Closet', '/closet' %></li>
</ul>

<form action="<%= new_garment_path %>" method="get">
  <%= select_tag 'garment_type', options_for_select(Garment::GarmentTypes::All) %>
  <%= submit_tag 'add garment' %>

</form>


