<h1>Listing user_garments</h1>

<table>
  <tr>
    <th>User</th>
    <th>Garment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_garments.each do |user_garment| %>
  <tr>
    <td><%= user_garment.user_id %></td>
    <td><%= user_garment.garment_id %></td>
    <td><%= link_to 'Show', user_garment %></td>
    <td><%= link_to 'Edit', edit_user_garment_path(user_garment) %></td>
    <td><%= link_to 'Destroy', user_garment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User garment', new_user_garment_path %>
