<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user_garment.user_id %>
</p>

<p>
  <b>Garment:</b>
  <%= @user_garment.garment_id %>
</p>


<%= link_to 'Edit', edit_user_garment_path(@user_garment) %> |
<%= link_to 'Back', user_garments_path %>
