
<%= form_for(@garment) do |f| %>
  <% if @garment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@garment.errors.count, "error") %> prohibited this garment from being saved:</h2>

      <ul>
      <% @garment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <% if @garment.type == nil %>

  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <% else %>
    <%= f.hidden_field :type %>
  <% end %>


  <div class="field">
    <%= f.label :label_id %><br />
    <%= f.select(:label_id, Label.select_options ) %>
  </div>
  <div class="field">
    <%= f.label :color_id %><br />
    <%= f.select(:color_id, Color.select_options )%>
  </div>
  <div class="field">
    <%= f.label :print_id %><br />
    <%= f.select(:print_id, Print.select_options) %>
  </div>
  <div class="field">
	<%= f.label :fabric_id %><br />
	<%= f.select(:fabric_id, Fabric.select_options) %>
  </div>
  <div class="field">
    <%= f.label :season %><br />
    <%= f.text_field :season %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.number_field :year %>
  </div>


  <% if @garment.type == "Dress" %>
    <%= render :partial => 'dress_fields', :locals => { :f => f} %>
  <% end %>

  <% if @garment.type == "Top" %>
    <%= render :partial => 'top_fields', :locals => { :f => f} %>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
