
<div class="field">
  <%= f.label :style %>
  <br /><%= f.select :style, Top::Style::All %>
</div>

<div class="field">
  <%= f.label :neckline %>
  <br /><%= f.select :neckline, GarmentLengths::Neckline::All %>
</div>

<div class="field">
  <%= f.label :sleeve_length %>
  <%= f.select :sleeve_length, GarmentLengths::SleeveLengths:All %>
</div>
