<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @fabric.name %>
</p>

<p>
  <b>Description:</b>
  <%= @fabric.description %>
</p>


<%= link_to 'Edit', edit_fabric_path(@fabric) %> |
<%= link_to 'Back', fabrics_path %>
