<%= form_for(@purchase) do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date_purchased %><br />
    <%= f.datetime_select :date_purchased %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :store_id %><br />
    <%= f.number_field :store_id %>
  </div>
  <div class="field">
    <%= f.label :online %><br />
    <%= f.check_box :online %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
