<p id="notice"><%= notice %></p>

<p>
  <b>Date purchased:</b>
  <%= @purchase.date_purchased %>
</p>

<p>
  <b>Price:</b>
  <%= @purchase.price %>
</p>

<p>
  <b>Store:</b>
  <%= @purchase.store_id %>
</p>

<p>
  <b>Online:</b>
  <%= @purchase.online %>
</p>


<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
