<!DOCTYPE html>
<html>
<head>
  <title>StyleAlgorithm | <%= @title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<h1><%= @title %></h1>
		<% if flash[:alert] %>
  			<div class="notice"><p><%= flash[:alert] %></div>
		<% end %>

		<div class="span-18 append-1">

			<%= yield %>

		</div>
		<div class="span-5 last">
			<% if current_user %>
			<ul>
				<li><%= link_to 'Dashboard', '/' %></li>
				<li><%= link_to 'Closet', '/closet' %></li>
				<li><%= link_to 'What did you wear today', enter_outfit_user_path(current_user) %></li>
			</ul>
			<p><%= current_user.email %></p>
			<% end %>
		</div>

	</div>

</body>
</html>
